/*
Theme Name:     CanvasChildv1
Description:    Canvas Child Theme
Author:         Ben Wright
Template:       canvas

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/
meta.foundation-version { font-family: "/5.5.3/"; }

meta.foundation-mq-small { font-family: "/only screen/"; width: 0; }

meta.foundation-mq-small-only { font-family: "/only screen and (max-width: 40em)/"; width: 0; }

meta.foundation-mq-medium { font-family: "/only screen and (min-width:40.0625em)/"; width: 40.0625em; }

meta.foundation-mq-medium-only { font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/"; width: 40.0625em; }

meta.foundation-mq-large { font-family: "/only screen and (min-width:64.0625em)/"; width: 64.0625em; }

meta.foundation-mq-large-only { font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/"; width: 64.0625em; }

meta.foundation-mq-xlarge { font-family: "/only screen and (min-width:90.0625em)/"; width: 90.0625em; }

meta.foundation-mq-xlarge-only { font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/"; width: 90.0625em; }

meta.foundation-mq-xxlarge { font-family: "/only screen and (min-width:120.0625em)/"; width: 120.0625em; }

meta.foundation-data-attribute-namespace { font-family: false; }

html, body { height: 100%; }

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { font-size: 100%; }

body { background: #fff; color: #222; cursor: auto; font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-style: normal; font-weight: normal; line-height: 1.5; margin: 0; padding: 0; position: relative; }

a:hover { cursor: pointer; }

img { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object, .mqa-display img, .mqa-display embed, .mqa-display object { max-width: none !important; }

.left { float: left !important; }

.right { float: right !important; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.hide { display: none; }

.invisible { visibility: hidden; }

.antialiased { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

img { display: inline-block; vertical-align: middle; }

textarea { height: auto; min-height: 50px; }

select { width: 100%; }

.row { margin: 0 auto; max-width: 62.5rem; width: 100%; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }
.row.collapse > .column, .row.collapse > .columns { padding-left: 0; padding-right: 0; }
.row.collapse .row { margin-left: 0; margin-right: 0; }
.row .row { margin: 0 -0.9375rem; max-width: none; width: auto; }
.row .row:before, .row .row:after { content: " "; display: table; }
.row .row:after { clear: both; }
.row .row.collapse { margin: 0; max-width: none; width: auto; }
.row .row.collapse:before, .row .row.collapse:after { content: " "; display: table; }
.row .row.collapse:after { clear: both; }

.column, .columns { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; }

.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child { float: right; }
.column + .column.end, .columns + .column.end, .column + .columns.end, .columns + .columns.end { float: left; }

@media only screen { .small-push-0 { position: relative; left: 0; right: auto; }
  .small-pull-0 { position: relative; right: 0; left: auto; }
  .small-push-1 { position: relative; left: 8.33333%; right: auto; }
  .small-pull-1 { position: relative; right: 8.33333%; left: auto; }
  .small-push-2 { position: relative; left: 16.66667%; right: auto; }
  .small-pull-2 { position: relative; right: 16.66667%; left: auto; }
  .small-push-3 { position: relative; left: 25%; right: auto; }
  .small-pull-3 { position: relative; right: 25%; left: auto; }
  .small-push-4 { position: relative; left: 33.33333%; right: auto; }
  .small-pull-4 { position: relative; right: 33.33333%; left: auto; }
  .small-push-5 { position: relative; left: 41.66667%; right: auto; }
  .small-pull-5 { position: relative; right: 41.66667%; left: auto; }
  .small-push-6 { position: relative; left: 50%; right: auto; }
  .small-pull-6 { position: relative; right: 50%; left: auto; }
  .small-push-7 { position: relative; left: 58.33333%; right: auto; }
  .small-pull-7 { position: relative; right: 58.33333%; left: auto; }
  .small-push-8 { position: relative; left: 66.66667%; right: auto; }
  .small-pull-8 { position: relative; right: 66.66667%; left: auto; }
  .small-push-9 { position: relative; left: 75%; right: auto; }
  .small-pull-9 { position: relative; right: 75%; left: auto; }
  .small-push-10 { position: relative; left: 83.33333%; right: auto; }
  .small-pull-10 { position: relative; right: 83.33333%; left: auto; }
  .small-push-11 { position: relative; left: 91.66667%; right: auto; }
  .small-pull-11 { position: relative; right: 91.66667%; left: auto; }
  .column, .columns { position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  .small-1 { width: 8.33333%; }
  .small-2 { width: 16.66667%; }
  .small-3 { width: 25%; }
  .small-4 { width: 33.33333%; }
  .small-5 { width: 41.66667%; }
  .small-6 { width: 50%; }
  .small-7 { width: 58.33333%; }
  .small-8 { width: 66.66667%; }
  .small-9 { width: 75%; }
  .small-10 { width: 83.33333%; }
  .small-11 { width: 91.66667%; }
  .small-12 { width: 100%; }
  .small-offset-0 { margin-left: 0 !important; }
  .small-offset-1 { margin-left: 8.33333% !important; }
  .small-offset-2 { margin-left: 16.66667% !important; }
  .small-offset-3 { margin-left: 25% !important; }
  .small-offset-4 { margin-left: 33.33333% !important; }
  .small-offset-5 { margin-left: 41.66667% !important; }
  .small-offset-6 { margin-left: 50% !important; }
  .small-offset-7 { margin-left: 58.33333% !important; }
  .small-offset-8 { margin-left: 66.66667% !important; }
  .small-offset-9 { margin-left: 75% !important; }
  .small-offset-10 { margin-left: 83.33333% !important; }
  .small-offset-11 { margin-left: 91.66667% !important; }
  .small-reset-order { float: left; left: auto; margin-left: 0; margin-right: 0; right: auto; }
  .column.small-centered, .columns.small-centered { margin-left: auto; margin-right: auto; float: none; }
  .column.small-uncentered, .columns.small-uncentered { float: left; margin-left: 0; margin-right: 0; }
  .column.small-centered:last-child, .columns.small-centered:last-child { float: none; }
  .column.small-uncentered:last-child, .columns.small-uncentered:last-child { float: left; }
  .column.small-uncentered.opposite, .columns.small-uncentered.opposite { float: right; }
  .row.small-collapse > .column, .row.small-collapse > .columns { padding-left: 0; padding-right: 0; }
  .row.small-collapse .row { margin-left: 0; margin-right: 0; }
  .row.small-uncollapse > .column, .row.small-uncollapse > .columns { padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; } }
@media only screen and (min-width: 40.0625em) { .medium-push-0 { position: relative; left: 0; right: auto; }
  .medium-pull-0 { position: relative; right: 0; left: auto; }
  .medium-push-1 { position: relative; left: 8.33333%; right: auto; }
  .medium-pull-1 { position: relative; right: 8.33333%; left: auto; }
  .medium-push-2 { position: relative; left: 16.66667%; right: auto; }
  .medium-pull-2 { position: relative; right: 16.66667%; left: auto; }
  .medium-push-3 { position: relative; left: 25%; right: auto; }
  .medium-pull-3 { position: relative; right: 25%; left: auto; }
  .medium-push-4 { position: relative; left: 33.33333%; right: auto; }
  .medium-pull-4 { position: relative; right: 33.33333%; left: auto; }
  .medium-push-5 { position: relative; left: 41.66667%; right: auto; }
  .medium-pull-5 { position: relative; right: 41.66667%; left: auto; }
  .medium-push-6 { position: relative; left: 50%; right: auto; }
  .medium-pull-6 { position: relative; right: 50%; left: auto; }
  .medium-push-7 { position: relative; left: 58.33333%; right: auto; }
  .medium-pull-7 { position: relative; right: 58.33333%; left: auto; }
  .medium-push-8 { position: relative; left: 66.66667%; right: auto; }
  .medium-pull-8 { position: relative; right: 66.66667%; left: auto; }
  .medium-push-9 { position: relative; left: 75%; right: auto; }
  .medium-pull-9 { position: relative; right: 75%; left: auto; }
  .medium-push-10 { position: relative; left: 83.33333%; right: auto; }
  .medium-pull-10 { position: relative; right: 83.33333%; left: auto; }
  .medium-push-11 { position: relative; left: 91.66667%; right: auto; }
  .medium-pull-11 { position: relative; right: 91.66667%; left: auto; }
  .column, .columns { position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  .medium-1 { width: 8.33333%; }
  .medium-2 { width: 16.66667%; }
  .medium-3 { width: 25%; }
  .medium-4 { width: 33.33333%; }
  .medium-5 { width: 41.66667%; }
  .medium-6 { width: 50%; }
  .medium-7 { width: 58.33333%; }
  .medium-8 { width: 66.66667%; }
  .medium-9 { width: 75%; }
  .medium-10 { width: 83.33333%; }
  .medium-11 { width: 91.66667%; }
  .medium-12 { width: 100%; }
  .medium-offset-0 { margin-left: 0 !important; }
  .medium-offset-1 { margin-left: 8.33333% !important; }
  .medium-offset-2 { margin-left: 16.66667% !important; }
  .medium-offset-3 { margin-left: 25% !important; }
  .medium-offset-4 { margin-left: 33.33333% !important; }
  .medium-offset-5 { margin-left: 41.66667% !important; }
  .medium-offset-6 { margin-left: 50% !important; }
  .medium-offset-7 { margin-left: 58.33333% !important; }
  .medium-offset-8 { margin-left: 66.66667% !important; }
  .medium-offset-9 { margin-left: 75% !important; }
  .medium-offset-10 { margin-left: 83.33333% !important; }
  .medium-offset-11 { margin-left: 91.66667% !important; }
  .medium-reset-order { float: left; left: auto; margin-left: 0; margin-right: 0; right: auto; }
  .column.medium-centered, .columns.medium-centered { margin-left: auto; margin-right: auto; float: none; }
  .column.medium-uncentered, .columns.medium-uncentered { float: left; margin-left: 0; margin-right: 0; }
  .column.medium-centered:last-child, .columns.medium-centered:last-child { float: none; }
  .column.medium-uncentered:last-child, .columns.medium-uncentered:last-child { float: left; }
  .column.medium-uncentered.opposite, .columns.medium-uncentered.opposite { float: right; }
  .row.medium-collapse > .column, .row.medium-collapse > .columns { padding-left: 0; padding-right: 0; }
  .row.medium-collapse .row { margin-left: 0; margin-right: 0; }
  .row.medium-uncollapse > .column, .row.medium-uncollapse > .columns { padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  .push-0 { position: relative; left: 0; right: auto; }
  .pull-0 { position: relative; right: 0; left: auto; }
  .push-1 { position: relative; left: 8.33333%; right: auto; }
  .pull-1 { position: relative; right: 8.33333%; left: auto; }
  .push-2 { position: relative; left: 16.66667%; right: auto; }
  .pull-2 { position: relative; right: 16.66667%; left: auto; }
  .push-3 { position: relative; left: 25%; right: auto; }
  .pull-3 { position: relative; right: 25%; left: auto; }
  .push-4 { position: relative; left: 33.33333%; right: auto; }
  .pull-4 { position: relative; right: 33.33333%; left: auto; }
  .push-5 { position: relative; left: 41.66667%; right: auto; }
  .pull-5 { position: relative; right: 41.66667%; left: auto; }
  .push-6 { position: relative; left: 50%; right: auto; }
  .pull-6 { position: relative; right: 50%; left: auto; }
  .push-7 { position: relative; left: 58.33333%; right: auto; }
  .pull-7 { position: relative; right: 58.33333%; left: auto; }
  .push-8 { position: relative; left: 66.66667%; right: auto; }
  .pull-8 { position: relative; right: 66.66667%; left: auto; }
  .push-9 { position: relative; left: 75%; right: auto; }
  .pull-9 { position: relative; right: 75%; left: auto; }
  .push-10 { position: relative; left: 83.33333%; right: auto; }
  .pull-10 { position: relative; right: 83.33333%; left: auto; }
  .push-11 { position: relative; left: 91.66667%; right: auto; }
  .pull-11 { position: relative; right: 91.66667%; left: auto; } }
@media only screen and (min-width: 64.0625em) { .large-push-0 { position: relative; left: 0; right: auto; }
  .large-pull-0 { position: relative; right: 0; left: auto; }
  .large-push-1 { position: relative; left: 8.33333%; right: auto; }
  .large-pull-1 { position: relative; right: 8.33333%; left: auto; }
  .large-push-2 { position: relative; left: 16.66667%; right: auto; }
  .large-pull-2 { position: relative; right: 16.66667%; left: auto; }
  .large-push-3 { position: relative; left: 25%; right: auto; }
  .large-pull-3 { position: relative; right: 25%; left: auto; }
  .large-push-4 { position: relative; left: 33.33333%; right: auto; }
  .large-pull-4 { position: relative; right: 33.33333%; left: auto; }
  .large-push-5 { position: relative; left: 41.66667%; right: auto; }
  .large-pull-5 { position: relative; right: 41.66667%; left: auto; }
  .large-push-6 { position: relative; left: 50%; right: auto; }
  .large-pull-6 { position: relative; right: 50%; left: auto; }
  .large-push-7 { position: relative; left: 58.33333%; right: auto; }
  .large-pull-7 { position: relative; right: 58.33333%; left: auto; }
  .large-push-8 { position: relative; left: 66.66667%; right: auto; }
  .large-pull-8 { position: relative; right: 66.66667%; left: auto; }
  .large-push-9 { position: relative; left: 75%; right: auto; }
  .large-pull-9 { position: relative; right: 75%; left: auto; }
  .large-push-10 { position: relative; left: 83.33333%; right: auto; }
  .large-pull-10 { position: relative; right: 83.33333%; left: auto; }
  .large-push-11 { position: relative; left: 91.66667%; right: auto; }
  .large-pull-11 { position: relative; right: 91.66667%; left: auto; }
  .column, .columns { position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  .large-1 { width: 8.33333%; }
  .large-2 { width: 16.66667%; }
  .large-3 { width: 25%; }
  .large-4 { width: 33.33333%; }
  .large-5 { width: 41.66667%; }
  .large-6 { width: 50%; }
  .large-7 { width: 58.33333%; }
  .large-8 { width: 66.66667%; }
  .large-9 { width: 75%; }
  .large-10 { width: 83.33333%; }
  .large-11 { width: 91.66667%; }
  .large-12 { width: 100%; }
  .large-offset-0 { margin-left: 0 !important; }
  .large-offset-1 { margin-left: 8.33333% !important; }
  .large-offset-2 { margin-left: 16.66667% !important; }
  .large-offset-3 { margin-left: 25% !important; }
  .large-offset-4 { margin-left: 33.33333% !important; }
  .large-offset-5 { margin-left: 41.66667% !important; }
  .large-offset-6 { margin-left: 50% !important; }
  .large-offset-7 { margin-left: 58.33333% !important; }
  .large-offset-8 { margin-left: 66.66667% !important; }
  .large-offset-9 { margin-left: 75% !important; }
  .large-offset-10 { margin-left: 83.33333% !important; }
  .large-offset-11 { margin-left: 91.66667% !important; }
  .large-reset-order { float: left; left: auto; margin-left: 0; margin-right: 0; right: auto; }
  .column.large-centered, .columns.large-centered { margin-left: auto; margin-right: auto; float: none; }
  .column.large-uncentered, .columns.large-uncentered { float: left; margin-left: 0; margin-right: 0; }
  .column.large-centered:last-child, .columns.large-centered:last-child { float: none; }
  .column.large-uncentered:last-child, .columns.large-uncentered:last-child { float: left; }
  .column.large-uncentered.opposite, .columns.large-uncentered.opposite { float: right; }
  .row.large-collapse > .column, .row.large-collapse > .columns { padding-left: 0; padding-right: 0; }
  .row.large-collapse .row { margin-left: 0; margin-right: 0; }
  .row.large-uncollapse > .column, .row.large-uncollapse > .columns { padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
  .push-0 { position: relative; left: 0; right: auto; }
  .pull-0 { position: relative; right: 0; left: auto; }
  .push-1 { position: relative; left: 8.33333%; right: auto; }
  .pull-1 { position: relative; right: 8.33333%; left: auto; }
  .push-2 { position: relative; left: 16.66667%; right: auto; }
  .pull-2 { position: relative; right: 16.66667%; left: auto; }
  .push-3 { position: relative; left: 25%; right: auto; }
  .pull-3 { position: relative; right: 25%; left: auto; }
  .push-4 { position: relative; left: 33.33333%; right: auto; }
  .pull-4 { position: relative; right: 33.33333%; left: auto; }
  .push-5 { position: relative; left: 41.66667%; right: auto; }
  .pull-5 { position: relative; right: 41.66667%; left: auto; }
  .push-6 { position: relative; left: 50%; right: auto; }
  .pull-6 { position: relative; right: 50%; left: auto; }
  .push-7 { position: relative; left: 58.33333%; right: auto; }
  .pull-7 { position: relative; right: 58.33333%; left: auto; }
  .push-8 { position: relative; left: 66.66667%; right: auto; }
  .pull-8 { position: relative; right: 66.66667%; left: auto; }
  .push-9 { position: relative; left: 75%; right: auto; }
  .pull-9 { position: relative; right: 75%; left: auto; }
  .push-10 { position: relative; left: 83.33333%; right: auto; }
  .pull-10 { position: relative; right: 83.33333%; left: auto; }
  .push-11 { position: relative; left: 91.66667%; right: auto; }
  .pull-11 { position: relative; right: 91.66667%; left: auto; } }
.flex-video { height: 0; margin-bottom: 1rem; overflow: hidden; padding-bottom: 67.5%; padding-top: 1.5625rem; position: relative; }
.flex-video.widescreen { padding-bottom: 56.34%; }
.flex-video.vimeo { padding-top: 0; }
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video { height: 100%; position: absolute; top: 0; width: 100%; left: 0; }

button, .button { -webkit-appearance: none; -moz-appearance: none; border-radius: 0; border-style: solid; border-width: 0; cursor: pointer; font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-weight: normal; line-height: normal; margin: 0 0 1.25rem; position: relative; text-align: center; text-decoration: none; display: inline-block; padding: 1rem 2rem 1.0625rem 2rem; font-size: 1rem; background-color: #008CBA; border-color: #007095; color: #FFFFFF; transition: background-color 300ms ease-out; }
button:hover, button:focus, .button:hover, .button:focus { background-color: #007095; }
button:hover, button:focus, .button:hover, .button:focus { color: #FFFFFF; }
button.secondary, .button.secondary { background-color: #e7e7e7; border-color: #b9b9b9; color: #333333; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus { background-color: #b9b9b9; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus { color: #333333; }
button.success, .button.success { background-color: #43AC6A; border-color: #368a55; color: #FFFFFF; }
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus { background-color: #368a55; }
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus { color: #FFFFFF; }
button.alert, .button.alert { background-color: #f04124; border-color: #cf2a0e; color: #FFFFFF; }
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus { background-color: #cf2a0e; }
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus { color: #FFFFFF; }
button.warning, .button.warning { background-color: #f08a24; border-color: #cf6e0e; color: #FFFFFF; }
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus { background-color: #cf6e0e; }
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus { color: #FFFFFF; }
button.info, .button.info { background-color: #a0d3e8; border-color: #61b6d9; color: #333333; }
button.info:hover, button.info:focus, .button.info:hover, .button.info:focus { background-color: #61b6d9; }
button.info:hover, button.info:focus, .button.info:hover, .button.info:focus { color: #FFFFFF; }
button.large, .button.large { padding: 1.125rem 2.25rem 1.1875rem 2.25rem; font-size: 1.25rem; }
button.small, .button.small { padding: 0.875rem 1.75rem 0.9375rem 1.75rem; font-size: 0.8125rem; }
button.tiny, .button.tiny { padding: 0.625rem 1.25rem 0.6875rem 1.25rem; font-size: 0.6875rem; }
button.expand, .button.expand { padding: 1rem 2rem 1.0625rem 2rem; font-size: 1rem; padding-bottom: 1.0625rem; padding-top: 1rem; padding-left: 1rem; padding-right: 1rem; width: 100%; }
button.left-align, .button.left-align { text-align: left; text-indent: 0.75rem; }
button.right-align, .button.right-align { text-align: right; padding-right: 0.75rem; }
button.radius, .button.radius { border-radius: 3px; }
button.round, .button.round { border-radius: 1000px; }
button.disabled, button[disabled], .button.disabled, .button[disabled] { background-color: #008CBA; border-color: #007095; color: #FFFFFF; box-shadow: none; cursor: default; opacity: 0.7; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus { background-color: #007095; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus { color: #FFFFFF; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus { background-color: #008CBA; }
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary { background-color: #e7e7e7; border-color: #b9b9b9; color: #333333; box-shadow: none; cursor: default; opacity: 0.7; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus { background-color: #b9b9b9; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus { color: #333333; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus { background-color: #e7e7e7; }
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success { background-color: #43AC6A; border-color: #368a55; color: #FFFFFF; box-shadow: none; cursor: default; opacity: 0.7; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus { background-color: #368a55; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus { color: #FFFFFF; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus { background-color: #43AC6A; }
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert { background-color: #f04124; border-color: #cf2a0e; color: #FFFFFF; box-shadow: none; cursor: default; opacity: 0.7; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus { background-color: #cf2a0e; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus { color: #FFFFFF; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus { background-color: #f04124; }
button.disabled.warning, button[disabled].warning, .button.disabled.warning, .button[disabled].warning { background-color: #f08a24; border-color: #cf6e0e; color: #FFFFFF; box-shadow: none; cursor: default; opacity: 0.7; }
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus { background-color: #cf6e0e; }
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus { color: #FFFFFF; }
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus { background-color: #f08a24; }
button.disabled.info, button[disabled].info, .button.disabled.info, .button[disabled].info { background-color: #a0d3e8; border-color: #61b6d9; color: #333333; box-shadow: none; cursor: default; opacity: 0.7; }
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus { background-color: #61b6d9; }
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus { color: #FFFFFF; }
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus { background-color: #a0d3e8; }

button::-moz-focus-inner { border: 0; padding: 0; }

@media only screen and (min-width: 40.0625em) { button, .button { display: inline-block; } }
/* small displays */
@media only screen { .show-for-small-only, .show-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down { display: inherit !important; }
  .hide-for-small-only, .hide-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down { display: none !important; }
  .visible-for-small-only, .visible-for-small-up, .visible-for-small, .visible-for-small-down, .hidden-for-medium-only, .hidden-for-medium-up, .hidden-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down { position: static !important; height: auto; width: auto; overflow: visible; clip: auto; }
  .hidden-for-small-only, .hidden-for-small-up, .hidden-for-small, .hidden-for-small-down, .visible-for-medium-only, .visible-for-medium-up, .visible-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; }
  table.show-for-small-only, table.show-for-small-up, table.show-for-small, table.show-for-small-down, table.hide-for-medium-only, table.hide-for-medium-up, table.hide-for-medium, table.show-for-medium-down, table.hide-for-large-only, table.hide-for-large-up, table.hide-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down { display: table !important; }
  thead.show-for-small-only, thead.show-for-small-up, thead.show-for-small, thead.show-for-small-down, thead.hide-for-medium-only, thead.hide-for-medium-up, thead.hide-for-medium, thead.show-for-medium-down, thead.hide-for-large-only, thead.hide-for-large-up, thead.hide-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down { display: table-header-group !important; }
  tbody.show-for-small-only, tbody.show-for-small-up, tbody.show-for-small, tbody.show-for-small-down, tbody.hide-for-medium-only, tbody.hide-for-medium-up, tbody.hide-for-medium, tbody.show-for-medium-down, tbody.hide-for-large-only, tbody.hide-for-large-up, tbody.hide-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down { display: table-row-group !important; }
  tr.show-for-small-only, tr.show-for-small-up, tr.show-for-small, tr.show-for-small-down, tr.hide-for-medium-only, tr.hide-for-medium-up, tr.hide-for-medium, tr.show-for-medium-down, tr.hide-for-large-only, tr.hide-for-large-up, tr.hide-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down { display: table-row; }
  th.show-for-small-only, td.show-for-small-only, th.show-for-small-up, td.show-for-small-up, th.show-for-small, td.show-for-small, th.show-for-small-down, td.show-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.hide-for-medium-up, td.hide-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.show-for-medium-down, td.show-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up, th.hide-for-large, td.hide-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down { display: table-cell !important; } }
/* medium displays */
@media only screen and (min-width: 40.0625em) { .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down { display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down { display: none !important; }
  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .visible-for-medium-only, .visible-for-medium-up, .visible-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down { position: static !important; height: auto; width: auto; overflow: visible; clip: auto; }
  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .hidden-for-medium-only, .hidden-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; }
  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.show-for-medium-only, table.show-for-medium-up, table.show-for-medium, table.show-for-medium-down, table.hide-for-large-only, table.hide-for-large-up, table.hide-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down { display: table !important; }
  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.show-for-medium-only, thead.show-for-medium-up, thead.show-for-medium, thead.show-for-medium-down, thead.hide-for-large-only, thead.hide-for-large-up, thead.hide-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down { display: table-header-group !important; }
  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.show-for-medium-only, tbody.show-for-medium-up, tbody.show-for-medium, tbody.show-for-medium-down, tbody.hide-for-large-only, tbody.hide-for-large-up, tbody.hide-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down { display: table-row-group !important; }
  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.show-for-medium-only, tr.show-for-medium-up, tr.show-for-medium, tr.show-for-medium-down, tr.hide-for-large-only, tr.hide-for-large-up, tr.hide-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down { display: table-row; }
  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.show-for-medium-only, td.show-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.show-for-medium, td.show-for-medium, th.show-for-medium-down, td.show-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up, th.hide-for-large, td.hide-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down { display: table-cell !important; } }
/* large displays */
@media only screen and (min-width: 64.0625em) { .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down { display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down { display: none !important; }
  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .hidden-for-medium-only, .visible-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down { position: static !important; height: auto; width: auto; overflow: visible; clip: auto; }
  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .visible-for-medium-only, .hidden-for-medium-up, .visible-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; }
  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.show-for-large-only, table.show-for-large-up, table.show-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down { display: table !important; }
  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.show-for-large-only, thead.show-for-large-up, thead.show-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down { display: table-header-group !important; }
  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.show-for-large-only, tbody.show-for-large-up, tbody.show-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down { display: table-row-group !important; }
  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.show-for-large-only, tr.show-for-large-up, tr.show-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down { display: table-row; }
  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.show-for-large-only, td.show-for-large-only, th.show-for-large-up, td.show-for-large-up, th.show-for-large, td.show-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down { display: table-cell !important; } }
/* xlarge displays */
@media only screen and (min-width: 90.0625em) { .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .hide-for-large-only, .show-for-large-up, .hide-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down { display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .show-for-large-only, .hide-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down { display: none !important; }
  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .hidden-for-medium-only, .visible-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .hidden-for-large-only, .visible-for-large-up, .hidden-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down { position: static !important; height: auto; width: auto; overflow: visible; clip: auto; }
  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .visible-for-medium-only, .hidden-for-medium-up, .visible-for-medium, .visible-for-medium-down, .visible-for-large-only, .hidden-for-large-up, .visible-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; }
  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-large-only, table.show-for-large-up, table.hide-for-large, table.hide-for-large-down, table.show-for-xlarge-only, table.show-for-xlarge-up, table.show-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down { display: table !important; }
  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-large-only, thead.show-for-large-up, thead.hide-for-large, thead.hide-for-large-down, thead.show-for-xlarge-only, thead.show-for-xlarge-up, thead.show-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down { display: table-header-group !important; }
  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-large-only, tbody.show-for-large-up, tbody.hide-for-large, tbody.hide-for-large-down, tbody.show-for-xlarge-only, tbody.show-for-xlarge-up, tbody.show-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down { display: table-row-group !important; }
  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-large-only, tr.show-for-large-up, tr.hide-for-large, tr.hide-for-large-down, tr.show-for-xlarge-only, tr.show-for-xlarge-up, tr.show-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down { display: table-row; }
  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.show-for-large-up, td.show-for-large-up, th.hide-for-large, td.hide-for-large, th.hide-for-large-down, td.hide-for-large-down, th.show-for-xlarge-only, td.show-for-xlarge-only, th.show-for-xlarge-up, td.show-for-xlarge-up, th.show-for-xlarge, td.show-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down { display: table-cell !important; } }
/* xxlarge displays */
@media only screen and (min-width: 120.0625em) { .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .hide-for-large-only, .show-for-large-up, .hide-for-large, .hide-for-large-down, .hide-for-xlarge-only, .show-for-xlarge-up, .hide-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .show-for-xxlarge-down { display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .show-for-large-only, .hide-for-large-up, .show-for-large, .show-for-large-down, .show-for-xlarge-only, .hide-for-xlarge-up, .show-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .hide-for-xxlarge-down { display: none !important; }
  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .hidden-for-medium-only, .visible-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .hidden-for-large-only, .visible-for-large-up, .hidden-for-large, .hidden-for-large-down, .hidden-for-xlarge-only, .visible-for-xlarge-up, .hidden-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .visible-for-xxlarge-down { position: static !important; height: auto; width: auto; overflow: visible; clip: auto; }
  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .visible-for-medium-only, .hidden-for-medium-up, .visible-for-medium, .visible-for-medium-down, .visible-for-large-only, .hidden-for-large-up, .visible-for-large, .visible-for-large-down, .visible-for-xlarge-only, .hidden-for-xlarge-up, .visible-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .hidden-for-xxlarge-down { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; }
  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-large-only, table.show-for-large-up, table.hide-for-large, table.hide-for-large-down, table.hide-for-xlarge-only, table.show-for-xlarge-up, table.hide-for-xlarge, table.hide-for-xlarge-down, table.show-for-xxlarge-only, table.show-for-xxlarge-up, table.show-for-xxlarge, table.show-for-xxlarge-down { display: table !important; }
  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-large-only, thead.show-for-large-up, thead.hide-for-large, thead.hide-for-large-down, thead.hide-for-xlarge-only, thead.show-for-xlarge-up, thead.hide-for-xlarge, thead.hide-for-xlarge-down, thead.show-for-xxlarge-only, thead.show-for-xxlarge-up, thead.show-for-xxlarge, thead.show-for-xxlarge-down { display: table-header-group !important; }
  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-large-only, tbody.show-for-large-up, tbody.hide-for-large, tbody.hide-for-large-down, tbody.hide-for-xlarge-only, tbody.show-for-xlarge-up, tbody.hide-for-xlarge, tbody.hide-for-xlarge-down, tbody.show-for-xxlarge-only, tbody.show-for-xxlarge-up, tbody.show-for-xxlarge, tbody.show-for-xxlarge-down { display: table-row-group !important; }
  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-large-only, tr.show-for-large-up, tr.hide-for-large, tr.hide-for-large-down, tr.hide-for-xlarge-only, tr.show-for-xlarge-up, tr.hide-for-xlarge, tr.hide-for-xlarge-down, tr.show-for-xxlarge-only, tr.show-for-xxlarge-up, tr.show-for-xxlarge, tr.show-for-xxlarge-down { display: table-row; }
  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.show-for-large-up, td.show-for-large-up, th.hide-for-large, td.hide-for-large, th.hide-for-large-down, td.hide-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.show-for-xlarge-up, td.show-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.hide-for-xlarge-down, td.hide-for-xlarge-down, th.show-for-xxlarge-only, td.show-for-xxlarge-only, th.show-for-xxlarge-up, td.show-for-xxlarge-up, th.show-for-xxlarge, td.show-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down { display: table-cell !important; } }
/* Orientation targeting */
.show-for-landscape, .hide-for-portrait { display: inherit !important; }

.hide-for-landscape, .show-for-portrait { display: none !important; }

/* Specific visibility for tables */
table.hide-for-landscape, table.show-for-portrait { display: table !important; }

thead.hide-for-landscape, thead.show-for-portrait { display: table-header-group !important; }

tbody.hide-for-landscape, tbody.show-for-portrait { display: table-row-group !important; }

tr.hide-for-landscape, tr.show-for-portrait { display: table-row !important; }

td.hide-for-landscape, td.show-for-portrait, th.hide-for-landscape, th.show-for-portrait { display: table-cell !important; }

@media only screen and (orientation: landscape) { .show-for-landscape, .hide-for-portrait { display: inherit !important; }
  .hide-for-landscape, .show-for-portrait { display: none !important; }
  /* Specific visibility for tables */
  table.show-for-landscape, table.hide-for-portrait { display: table !important; }
  thead.show-for-landscape, thead.hide-for-portrait { display: table-header-group !important; }
  tbody.show-for-landscape, tbody.hide-for-portrait { display: table-row-group !important; }
  tr.show-for-landscape, tr.hide-for-portrait { display: table-row !important; }
  td.show-for-landscape, td.hide-for-portrait, th.show-for-landscape, th.hide-for-portrait { display: table-cell !important; } }
@media only screen and (orientation: portrait) { .show-for-portrait, .hide-for-landscape { display: inherit !important; }
  .hide-for-portrait, .show-for-landscape { display: none !important; }
  /* Specific visibility for tables */
  table.show-for-portrait, table.hide-for-landscape { display: table !important; }
  thead.show-for-portrait, thead.hide-for-landscape { display: table-header-group !important; }
  tbody.show-for-portrait, tbody.hide-for-landscape { display: table-row-group !important; }
  tr.show-for-portrait, tr.hide-for-landscape { display: table-row !important; }
  td.show-for-portrait, td.hide-for-landscape, th.show-for-portrait, th.hide-for-landscape { display: table-cell !important; } }
/* Touch-enabled device targeting */
.show-for-touch { display: none !important; }

.hide-for-touch { display: inherit !important; }

.touch .show-for-touch { display: inherit !important; }

.touch .hide-for-touch { display: none !important; }

/* Specific visibility for tables */
table.hide-for-touch { display: table !important; }

.touch table.show-for-touch { display: table !important; }

thead.hide-for-touch { display: table-header-group !important; }

.touch thead.show-for-touch { display: table-header-group !important; }

tbody.hide-for-touch { display: table-row-group !important; }

.touch tbody.show-for-touch { display: table-row-group !important; }

tr.hide-for-touch { display: table-row !important; }

.touch tr.show-for-touch { display: table-row !important; }

td.hide-for-touch { display: table-cell !important; }

.touch td.show-for-touch { display: table-cell !important; }

th.hide-for-touch { display: table-cell !important; }

.touch th.show-for-touch { display: table-cell !important; }

/* Screen reader-specific classes */
.show-for-sr { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; }

.show-on-focus { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; }
.show-on-focus:focus, .show-on-focus:active { position: static !important; height: auto; width: auto; overflow: visible; clip: auto; }

/* Print visibility */
.print-only, .show-for-print { display: none !important; }

@media print { .print-only, .show-for-print { display: block !important; }
  .hide-on-print, .hide-for-print { display: none !important; }
  table.show-for-print { display: table !important; }
  thead.show-for-print { display: table-header-group !important; }
  tbody.show-for-print { display: table-row-group !important; }
  tr.show-for-print { display: table-row !important; }
  td.show-for-print { display: table-cell !important; }
  th.show-for-print { display: table-cell !important; } }
/* @import 'foundations'; */
.frn_suggestions li { font-size: 1.5em; margin-left: 30px; list-style: initial; }

.CenterImage { width: 40%; display: inline !important; }

.searchnotfound { width: 20em; margin: 0 auto; margin-top: 3.5em; }

.notfound { text-align: center; }

@media only screen and (min-width: 768px) { #navigation ul.nav-search a.search-contents:before { content: "\f002"; margin-top: -3px; }
  .frn_contact_options div { display: inline-block !important; } }
/*OLD DESRUPTIVE DESIGN
.frn_cta_banner { background-color: $OpiateBlue; padding: 20px; border-radius: 15px; color: $SecondaryCTA; text-align: center; padding: 1.5vw 1vw; font-weight: bold; margin-bottom: 20px; clear: both;
} */
.frn_cta_banner { /* background-color: #0B486B; */ border-radius: 5px; color: #777; text-align: center; padding: 3vw 1vw; font-weight: bold; margin: 3vw 1vw; border: 1px solid gray; clear: both; }

.entry .frn_cta_banner ul { padding: 0; }

.frn_contact_options { margin: 5px; }

.frn_cta_banner li { display: inline-block; margin: 1.5vw 1vw 0vw 1vw; }

.frn_cta_banner li a { color: #CFF09E; }

.frn_cta_banner span, .frn_contact_options a:link { color: #FF5E00; font-size: 2em; vertical-align: middle; display: inline-block; padding: 5px; }

.frn_cta_title { margin-bottom: 10px; }

.frn_cta_banner strong { font-size: 25px; padding: 10px; display: block; }

.frn_contact_options { margin: 1vw; }

.entry .frn_cta_banner ul { border-top: 1px solid #79BD9A; margin-top: 30px; padding-left: 0; line-height: 27px; margin-bottom: 16px; }

.frn_links_box { border-radius: 5px; color: #777; text-align: center; padding: 1vw 1vw; font-weight: bold; margin: 3vw 1vw; border: 1px solid gray; clear: both; }

.frn_links_box h3 { font-size: 14px; text-transform: uppercase; color: #B2CD8B; margin: 0; }

.entry .frn_links_box ul { padding-left: 0; line-height: 27px; margin: 0; }

.frn_links_box li { display: inline-block; margin: .75vw 1vw .75vw 1vw; }

#wrapper .woo-sc-button { font-family: Roboto; font-size: 1.2em; font-weight: normal; letter-spacing: 0.6px; text-transform: none; }

.testdiv { color: #3B8686; }

.OrangeNumber { color: #FF5E00; display: inline; }

img.thumbnail { width: 15%; }

.ContactInline div { display: inline; }

h2.cat_header { background-color: #3B8686; margin: 8vh -5vw; color: white; padding: 3vh 5vw; }

#post-author .profile-image { width: 150px; height: 150px; float: left; overflow: hidden; border-radius: 150px; margin-right: 20px; }

#post-author .profile-image img { float: left; height: 100%; width: auto; max-width: 200%; }

.author-content img { float: left; margin-right: 2vw; }

.position_title, .position_company { font-style: italic; }

.contact_info li { list-style-type: none; display: inline; margin: 0 5px; }

.contact_info a { opacity: 0.5; }

.contact_info a:hover { opacity: 1; }

.contact_info ul { padding: 0; margin: 0; }

.google a { background-image: url(http://www.opiaterehabtreatment.com/v2/wp-content/uploads/google@2x.png) !important; padding: 10px 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 7px; background-color: #3B8686; background-position: center; background-repeat: no-repeat; -webkit-background-size: 21px 18px; -moz-background-size: 21px 18px; -o-background-size: 21px 18px; background-size: 21px 18px; }

.facebook a { background-image: url(http://www.opiaterehabtreatment.com/v2/wp-content/uploads/facebook@2x.png) !important; padding: 10px 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 7px; background-color: #3B8686; background-position: center; background-repeat: no-repeat; -webkit-background-size: 12px 22px; -moz-background-size: 12px 22px; -o-background-size: 12px 22px; background-size: 12px 22px; }

.twitter a { background-image: url(http://www.opiaterehabtreatment.com/v2/wp-content/uploads/twitter@2x.png) !important; padding: 10px 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 7px; background-color: #3B8686; background-position: center; background-repeat: no-repeat; -webkit-background-size: 13px 16px; -moz-background-size: 13px 16px; -o-background-size: 13px 16px; background-size: 13px 16px; }

.linkedin a { background-image: url(http://www.opiaterehabtreatment.com/v2/wp-content/uploads/linkedin@2x.png) !important; padding: 10px 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 7px; background-color: #3B8686; background-position: center; background-repeat: no-repeat; -webkit-background-size: 14px 13px; -moz-background-size: 14px 13px; -o-background-size: 14px 13px; background-size: 14px 13px; }

.slideshare a { background-image: url(http://www.opiaterehabtreatment.com/v2/wp-content/uploads/slideshare.png) !important; padding: 10px 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 7px; background-color: #3B8686; background-position: center; background-repeat: no-repeat; -webkit-background-size: 21px 18px; -moz-background-size: 21px 18px; -o-background-size: 21px 18px; background-size: 21px 18px; }

.RobotoFont { font-family: 'Roboto' !important; color: #444444 !important; font-weight: normal !important; }

input.field.s:focus { opacity: 1.0; }

input.field.s { box-shadow: none; font-size: 1.2em; background: #3B8686; opacity: 0.7; }

.home h2.title.entry-title { display: none; }

.home #content { padding: 0 0 0 35px; }

/*landscape smartphone and smaller*/
@media (max-width: 767px) { .home #content { padding: 0 !important; } }
body.home #content { max-width: 100% !important; padding: 0 !important; }

aside#sidebar { padding-left: 35px; }

#logo .site-title { display: inline-block !important; vertical-align: middle; margin: 0; }

.two-col-left #main-sidebar-container #main, .two-col-right #main-sidebar-container #main { width: 100%; }

.frn-cta { color: #F39C12; }

.textwidget { text-align: center; }

.frn_footer { background-color: #3B8686; padding-top: 2em; padding-bottom: 5em; }

.searchform input.s, #searchform input#s { color: #fff; }

.nav-toggle { background-color: #3B8686; background-image: none; }

a.woo-sc-button span { line-height: 2.2em !important; }

a.woo-sc-button.custom { margin-top: 1em; }

ul.nav ul li a { font-size: 1.0em !important; }

.box { border: 1px solid #F39C12; padding: 20px; padding-top: 18px; margin: 40px 0px; clear: both; overflow: auto; }

.box.green { border: 1px solid #3A606E; font-size: 1.2em; background: #67AE73; margin-top: 0px; line-height: 1.3em; color: #fff; }

.box.blue { border: 1px solid #607B7D; font-size: 1.2em; background: #3A606E; margin-top: 0px; line-height: 1.3em; color: #fff; }

.box.grey { border: 1px solid #3A606E; font-size: 1.2em; background: #607B7D; margin-top: 0px; line-height: 1.3em; color: #fff; }

.callout { font-size: 5em; padding-top: 10px; margin-left: auto; margin-right: auto; color: #fff; }

.calloutbox { padding-top: 40px !important; text-align: center; }

#content { background-color: white; border-radius: 15px; padding: 2vw 2vw !important; clear: both; }

#nav-container { margin: 0; padding: 0; }

#nav-container #navigation { max-width: 1200px !important; margin: 0 auto 1px auto; float: none; padding-left: 20px; }

#navigation { clear: none; margin: 0; float: left; }

.frnphonenumber { float: right; text-align: right; }

ul#main-nav { float: right; }

.frnphonenumber h3 { color: #CFF09E; font-size: .8em; }

.frnphonenumber h2 { color: #CFF09E; }

.frnphonenumber h2 a { color: #CFF09E; }

h1 a:link { color: #F39C17; }

.naked-social-share ul { padding: 0; }

#logo a { display: inline-block; }

#logo .site-title a:hover { text-decoration: none; }

#logo img { height: 40px; vertical-align: middle; }

#frnnumber { font-size: 1.5em; font-weight: bold; color: #F39C17; padding-top: inherit; }

#header { padding: 10px 30px 0px 30px !important; }

section.menus.nav-icons.nav-icons-1 { float: left; }

#frnnumber a { color: #f39c12; }

.side-nav { margin-right: -1em; }

#lhnEmailButton, #lhnchatimg { border: none; }

.post { margin-bottom: 10px; }

.nav-prev.fl a, .nav-next.fr a { color: white; font-weight: bolder; background-color: #3A606E; border-radius: 5px; padding: .4em 0.7em; width: 100%; }

.archive-description p { font-style: italic; }

.post-entries { display: none; }

/* Related Posts Begins */
#frn_related_posts { margin-top: 80px; margin-bottom: 50px; }

#frn_related_posts li { float: left; color: #fff; display: inline-block; width: 143px; margin: 5px; border: 1px solid white; padding: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; line-height: 1.8em; list-style: none; font-size: .9em; }

#frn_related_posts h3 { text-align: center; }

#frn_related_posts li div { font-size: 1em; }

#frn_related_posts ul { margin: 0 auto; }

@media (min-width: 768px) and (max-width: 900px) { #frn_related_posts .rp_list { text-align: center; /*Used mostly for smaller window sizes*/ }
  #frn_related_posts li { width: 23%; font-size: 1.1em; } }
#frn_related_posts li:hover { color: #fff; /*background-color:#efefef !important;
border:1px solid #ccc;*/ }

#frn_related_posts li div.positioning { height: 110px; display: table-cell; vertical-align: middle; font-weight: bold; text-align: center; }

#frn_related_posts .overflow_limit { overflow: hidden; max-height: 100px; max-width: 100%; }

#frn_related_posts div.frn_rp_more { /* float: right; */ width: 100%; text-align: right; }

#frn_related_posts li.color_hvr_grn:hover { background-color: #0B486B !important; border: 1px solid #a8d379; }

#frn_related_posts li.color_hvr_bl:hover { background-color: #3B8686 !important; border: 1px solid #6699cc; }

#frn_related_posts li.color_hvr_rd:hover { background-color: #79bd9a !important; border: 1px solid #cc6666; }

#frn_related_posts li.color_hvr_org:hover { background-color: #A8DBA8 !important; border: 1px solid #ff9966; }

#frn_related_posts li.color_hvr_ppl:hover { background-color: #CFF09E !important; border: 1px solid #9999cc; }

/* Smartphone RP Styles */
@media (max-width: 767px) { #frn_related_posts h3 { border-top: 3px solid #ccc; padding-top: 7px; margin-bottom: 15px; font-weight: bold; } }
@media (max-width: 767px) and (orientation: portrait) { #frn_related_posts li { width: 46%; float: left; } }
@media (max-width: 767px) and (orientation: landscape) { #frn_related_posts li { width: 30%; } }
/* Related Posts Ends */
.post-more { border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; padding-bottom: 20px; }

/* Custom Foundations Homepage Style Begin */
.VCenter { position: relative; top: 50%; transform: translateY(-50%); }

.button-group li { padding-top: 3%; }

.button-group a { color: black; background-color: transparent; }

.button-group a:hover { color: rgba(0, 0, 0, 0.4); background-color: transparent; }

.button-group { float: none; }

@media only screen and (min-width: 40.063em) { .button-group { float: right; } }
.namelogo { padding: 20px 10px 0px 10px; }

@media only screen and (min-width: 40.063em) { .namelogo { padding-bottom: 20px; } }
.namelogo h1 { font-size: 1.5em; font-weight: 600; text-align: center; }

@media only screen and (min-width: 40.063em) { .namelogo h1 { font-size: 16px; text-align: left; } }
@media only screen and (min-width: 64.063em) { .namelogo h1 { font-size: 24px; text-align: left; } }
.hero { background: url("http://www.opiaterehabtreatment.com/v2/wp-content/uploads/man-contemplating2.jpg"); background-size: cover; box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.15); height: 35rem; background-position: 50% 50%; background-attachment: fixed; }

.HPTexture { background: url("http://www.opiaterehabtreatment.com/v2/wp-content/uploads/DarkGreenTextureCrop.jpg"); background-size: cover; box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.15); height: 25rem; background-position: 50% 50%; background-attachment: fixed; }

.HPTexture2 { background: url("http://www.opiaterehabtreatment.com/v2/wp-content/uploads/LightGreenTextureCrop1.jpg"); background-size: cover; box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.15); height: 30rem; background-position: 50% 50%; background-attachment: fixed; }

.intro-text { padding-top: 40%; color: white; text-align: center; }

@media only screen and (min-width: 40.063em) { .intro-text { padding-top: 21vh; } }
@media only screen and (min-width: 64.063em) { .intro-text { padding-top: 21vh; }
  .secondary-text { padding-top: 5vh; } }
.intro-text p { font-family: 'Shadows Into Light', cursive; font-size: 44px; }

.about, .work, .contact { padding: 50px 0 50px 0; }

.about img { width: 250px; height: 250px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; }

.work img:hover { opacity: 0.5; -webkit-transition: 0.3s ease; -moz-transition: 0.3s ease; -ms-transition: 0.3s ease; -o-transition: 0.3s ease; transition: 0.3s ease; }

.work li { height: 140px; overflow: hidden; }

hr { border: 0; height: 1px; background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent); background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent); background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent); background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent); opacity: 0.8; }

footer { padding: 80px 0 10px 0; }

footer a:hover { color: rgba(0, 0, 0, 0.4); background-color: transparent; }

img { background: none !important; border: none !important; }

.icon-preview.fa.fa-check { font-size: 10em; }

.icon-preview.fa.fa-home { font-size: 10em; }

.icon-preview.fa.fa-calendar { font-size: 10em; }

.icon-preview.fa.fa-star-o { font-size: 10em; color: #CFF09E; }

.icon-preview.fa.fa-user-md { font-size: 10em; color: #CFF09E; }

.icon-preview.fa.fa-building-o { font-size: 10em; color: #CFF09E; }

.widget_woothemes_features .feature .feature-title { font-size: 2.0em; color: #CFF09E; margin-top: 0.5em; }

.feature-content { font-size: 1.4em; color: #CFF09E; }

#FirstFeature .features.columns-3 { color: #CFF09E; }

#FirstFeature h3.feature-title { color: #CFF09E; }

#costsoftreatment { position: relative; top: 50%; transform: translateY(-50%); }

#costsoftreatment p { color: #fff; }

h2#HowWeCanHelp { font-size: 3em; color: #3B8686; }

.about h2 { font-size: 3.5em; }

.goldstandard { padding: 50px 0; background-color: #262626; max-width: 100% !important; }

.goldstandard p.p1, .goldstandard h2 { color: white; }

.goldstandard p.p1 { text-align: justify; }

.goldstandard h2 { color: white; }

.ourlocations { padding: 50px 0; max-width: 100% !important; background-color: #79bd9a; }

.ourSuccess { padding: 5vw; max-width: 100% !important; background: #CFF09E; }

.BetterSuccess { padding: 5vw; max-width: 100% !important; background: #79bd9a; }

.HowCanIPay { padding: 5vw; max-width: 100% !important; }

.TrustIcons { padding-bottom: 5vw; max-width: 100% !important; }

.oursuccess { padding: 5vh 0; max-width: 100% !important; background-color: #394648; }

.AboutOpiates { padding: 5.5vh 0; max-width: 100% !important; background-color: #394648; }

.FeaturedArticles { padding: 5.5vh 0; max-width: 100% !important; background-color: #FFF; }

.about { background-color: #3A606E; max-width: 100%; }

/* Custom Foundations Homepage Style Ends */
@media (max-width: 1024px) { .HPTexture2 { height: 50rem; background-attachment: scroll; }
  .hero { background-attachment: scroll; }
  .HPTexture { background-attachment: scroll; }
  .CenterImage { width: 100%; display: inline; } }
/* Tablet ONLY */
@media (min-width: 768px) and (max-width: 900px) { .frn_footer { padding-bottom: 80px; margin-top: 15px; }
  ul { font-size: 0.8rem !important; }
  img.thumbnail, #portfolio .group.portfolio-img img { width: 35%; } }
/* Tablet and Desktop */
@media only screen and (min-width: 768px) { #navigation .menus.nav-icons-1 #main-nav { margin-right: 2.8em !important; }
  #navigation .nav li.parent > a { padding: 0 0.8em; }
  #navigation ul.nav-search a.search-contents + ul { width: 18em; padding: 1em 1.5em 1.5em 1.5em; -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; border-bottom-right-radius: 10px; }
  #navigation ul.nav-search a.search-contents { padding: 1em 1.8em 2.3em 1em; top: 5px; }
  #navigation ul.nav-search .searchform input.s { border: 1px #394648; }
  #navigation ul.nav-search .searchform .submit { top: 20px; }
  .frn_footer p { color: #fff; margin-bottom: 0; }
  .frn_footer p a { color: #fff; }
  .frn_footer p a:hover { color: #A8DBA8; }
  aside#sidebar { float: right; width: 31.91%; margin-top: 3em; clear: both; padding-left: 35px; } }
/* SMARTPHONE STYLE +10px (landscape and smaller) */
@media (max-width: 785px) { .callout { font-size: 4em !important; } }
/* SMARTPHONE STYLE BEGIN (landscape and smaller) */
@media (max-width: 767px) { .hero { height: 35rem; background-attachment: scroll; }
  .HPTexture2 { background-attachment: scroll; }
  .HPTexture { background-attachment: scroll; }
  nav#navigation { margin-top: -15px; }
  .shortcode-tabs.vertical .tab_header { width: 31% !important; }
  .shortcode-tabs.vertical .tab { text-align: right !important; position: inherit !important; }
  aside#sidebar { display: none; }
  .post-more { padding-bottom: 25px !important; }
  article.post { margin-bottom: 30px; }
  #content { padding: 15px !important; }
  body { background-color: #fff !important; }
  .textwidget { left: 0 !important; margin: 0 auto !important; right: 0 !important; bottom: 0 !important; text-align: center !important; float: none !important; }
  #logo { left: inherit; margin: 0 auto !important; right: inherit; bottom: inherit; text-align: center !important; float: left; width: 100%; }
  header { display: none; }
  .frnphonenumber { display: none; }
  h1 { font-size: 1.5em !important; }
  h2 { font-size: 1.4em !important; }
  h3 { font-size: 1.2em !important; }
  h4 { font-size: 1.1em !important; }
  h5 { font-size: 1.07em !important; }
  h6 { font-size: 1.05em !important; }
  .entry .wp-caption-text { font-size: 0.9em; }
  .nav-toggle { float: left; width: 100%; /* We need to find a way for 100% to work since due to screen sizes this may not look good on all devices */ margin-bottom: 15px; }
  .nav-toggle a { border: none; padding: 0; }
  div#nav_logo { display: inline-block; padding-left: 10px; }
  #nav_logo a { display: inline-block; }
  #nav_logo img { height: 45px; vertical-align: middle; }
  div.site-title, span.site-title { font-size: 16px !important; display: inline; text-align: left; }
  #logo { display: none; }
  .post-meta { margin: 0; }
  #inner-wrapper { float: left; padding: 0 5px; }
  header { display: block; }
  .nav-toggle:before { padding: 0.8em 0.7em 0.8em 0.9em; margin-left: 0; margin-bottom: 5px; }
  .breadcrumbs { margin-bottom: 0; font-size: 12px; position: absolute; color: #999; top: -35px; left: 0; display: none; }
  header#header { padding: 0px !important; }
  .naked-social-share { text-align: center; }
  .naked-social-share li { margin-bottom: 10px; }
  .frn_footer { padding-bottom: 145px; }
  .frn_footer p { color: white; }
  .nav-prev.fl, .nav-next.fr { text-align: center; margin-bottom: 20px; }
  .archive_header { margin-bottom: 15px; }
  .archive-description { margin-bottom: 20px; }
  i.fa.fa-phone-square.fa-5x a { font-size: 0.4em; }
  a.search-contents { display: none !important; }
  #navigation .nav-close, #navigation .nav-home { height: 2em; width: 2em; }
  .woo-pagination a:link { font-size: 0.55em; }
  .post_thumbnail { width: 100%; height: 150px; overflow: hidden; margin-bottom: 20px; }
  img.thumbnail { width: 100%; margin-top: -25%; }
  .ContactInline a:link { color: #cff09e; }
  .CenterImage { width: 100%; display: inline; }
  .entry .wp-caption { width: 100% !important; }
  .frn_cta_title { margin-bottom: 10px; padding: 1vw; } }
/* SMARTPHONE ENDS */
