@charset "utf-8";
/*
---------------
Table of Contents:
1) Fix Privacy Policy Link
--------------
*/


/* 1) Fix Privacy Policy */
#footer .footer-menu a {
	color: #999 !important;
}
#footer .footer-menu a:hover {
	color: #fff !important;
}

.footer-frn {
	margin-top: 45px;
}

.footer-frn p {
	font-size: 18px;
}

.footer-frn span span {
	color: #fff;
	text-align: left;
}