/*
 Theme Name:   Wunderkind Child
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Wunderkind Child Theme
 Author:       Shinetheme
 Author URI:   http://shinetheme.com
 Template:     wunderkind
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  wunderkind-child
*/

/*
For older themes, and themes that do not use wp_enqueue_style() to enqueue their stylesheet, use the following line where wunderkind is the name of the directory where the theme resides:

@import url("../wunderkind/style.css");
*/

/* =Theme customization starts here
-------------------------------------------------------------- */
@import url("../wunderkind/style.css");

div.wpcf7-response-output {
color:#000 !important;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    color: #398f14 !important;
}