/*
Theme Name:     CanvasChildv1
Description:    Canvas Child Theme
Author:         Ben Wright
Template:       canvas

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/


@import "settings";
@import "foundation/components/grid";
@import "foundation/components/flex-video";
@import "foundation/components/buttons";
@import "foundation/components/visibility";
//@import "foundation";



// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";



$OpiateBlue: #0B486B;
$OpiateDarkGreen: #3B8686;
$OpiateGreen: #79BD9A;
$OpiateLightGreen: #A8DBA8;
$OpiateBrightGreen: #CFF09E;
$OpiateGray: #394648;

$PrimaryBG: #3B8686;
$PrimaryLink: #79bd9a;
$PrimaryLinkHover: #0c5178;
$PrimaryCTA: #FF5E00;  //this is also the Button Color
$SecondaryCTA: #CFF09E;
$PrimaryCTAHover: #79bd9a;

$HPHeroImage: "http://www.opiaterehabtreatment.com/v2/wp-content/uploads/man-contemplating2.jpg";
$HPTexture: "http://www.opiaterehabtreatment.com/v2/wp-content/uploads/DarkGreenTextureCrop.jpg";
$HPTexture2: "http://www.opiaterehabtreatment.com/v2/wp-content/uploads/LightGreenTextureCrop1.jpg";


/* @import 'foundations'; */

  .frn_suggestions li {
  font-size: 1.5em;
  margin-left: 30px;
  list-style: initial;
}

  .CenterImage {
    width: 40%;
    display: inline !important;
  }

.searchnotfound {
    width: 20em;
    margin: 0 auto;
    margin-top: 3.5em;
}

.notfound {
    text-align: center;
}

@media only screen and (min-width: 768px) {
#navigation ul.nav-search a.search-contents:before {
    content: "\f002";
    margin-top: -3px;
    }
.frn_contact_options div{
    display: inline-block !important;
}
}

/*OLD DESRUPTIVE DESIGN
.frn_cta_banner {
    background-color: $OpiateBlue;
    padding: 20px;
    border-radius: 15px;
    color: $SecondaryCTA;
    text-align: center;
    padding: 1.5vw 1vw;
    font-weight: bold;
    margin-bottom: 20px;
    clear: both;
} */

.frn_cta_banner {
  /* background-color: #0B486B; */
  border-radius: 5px;
  color: #777;
  text-align: center;
  padding: 3vw 1vw;
  font-weight: bold;
  margin: 3vw 1vw;
  border: 1px solid gray;
  clear: both;
}

.entry .frn_cta_banner ul {
    padding: 0;
}

.frn_contact_options {
    margin: 5px;
}

.frn_cta_banner li {
  display: inline-block;
  margin: 1.5vw 1vw 0vw 1vw;
}

.frn_cta_banner li a {
    color: $SecondaryCTA;
}

.frn_cta_banner span, .frn_contact_options a:link {
    color: $PrimaryCTA;
    font-size: 2em;
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
}

.frn_cta_title {
  margin-bottom: 10px;
}
.frn_cta_banner strong {
  font-size: 25px;
  padding: 10px;
  display: block;
}
.frn_contact_options {
  margin: 1vw;
}
.entry .frn_cta_banner ul {
  border-top: 1px solid $OpiateGreen;
  margin-top: 30px;
  padding-left: 0;
  line-height: 27px;
  margin-bottom: 16px;
}

.frn_links_box{
    border-radius: 5px;
    color: #777;
    text-align: center;
    padding: 1vw 1vw;
    font-weight: bold;
    margin: 3vw 1vw;
    border: 1px solid gray;
    clear: both;
}

.frn_links_box h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #B2CD8B;
  margin: 0;
}
.entry .frn_links_box ul {
  padding-left: 0;
  line-height: 27px;
  margin: 0;
}
.frn_links_box li {
  display: inline-block;
  margin: .75vw 1vw .75vw 1vw;
}

//@media only screen and (min-width: 1230px){
//#navigation .nav li:first-child a {
  //  padding-left: 2vw !important; 
    //}
//}

//#navigation .nav li:first-child a {
  //  padding-left: 0;
//}

#wrapper .woo-sc-button {
    font-family: Roboto;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0.6px;
    text-transform: none;
}

.testdiv{
    color: $PrimaryBG;
}

.OrangeNumber{
    color: $PrimaryCTA;
    display: inline;
}

img.thumbnail {
    width: 15%
}

.ContactInline div {
    display:inline;
}

h2.cat_header {
    background-color: $PrimaryBG;
    margin: 8vh -5vw;
    color: white;
    padding: 3vh 5vw;
}

#post-author .profile-image {
    width: 150px;
    height: 150px;
    float: left;
    overflow: hidden;
    border-radius: 150px;
    margin-right: 20px;
}

#post-author .profile-image img {
    float: left;
    height: 100%;
    width: auto;
    max-width: 200%;
}

.author-content img {
    float: left;
    margin-right: 2vw;
}

.position_title, .position_company {
    font-style: italic;
}

.contact_info li {
    list-style-type: none;
    display: inline;
    margin: 0 5px;
}

.contact_info a {
    opacity: 0.5;
}

.contact_info a:hover {
    opacity: 1;
}

.contact_info ul {
    padding: 0;
    margin: 0;
}

.google a {
    background-image: url(http://www.opiaterehabtreatment.com/v2/wp-content/uploads/google@2x.png) !important;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 7px;
    background-color: $PrimaryBG;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 21px 18px;
    -moz-background-size: 21px 18px;
    -o-background-size: 21px 18px;
    background-size: 21px 18px;
}

.facebook a{background-image:url(http://www.opiaterehabtreatment.com/v2/wp-content/uploads/facebook@2x.png) !important;
		padding:10px 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 7px;
		background-color:$PrimaryBG;
		background-position:center;
		background-repeat:no-repeat;
		-webkit-background-size:12px 22px;
		   -moz-background-size:12px 22px;
		     -o-background-size:12px 22px;
		        background-size:12px 22px;
}
.twitter a{background-image:url(http://www.opiaterehabtreatment.com/v2/wp-content/uploads/twitter@2x.png) !important;
		padding:10px 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 7px;
		background-color:$PrimaryBG;
		background-position:center;
		background-repeat:no-repeat;
	-webkit-background-size:13px 16px;
		   -moz-background-size:13px 16px;
		     -o-background-size:13px 16px;
		        background-size:13px 16px;
}
.linkedin a{background-image:url(http://www.opiaterehabtreatment.com/v2/wp-content/uploads/linkedin@2x.png) !important;
		padding:10px 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 7px;
		background-color:$PrimaryBG;
		background-position:center;
		background-repeat:no-repeat;
	-webkit-background-size:14px 13px;
		   -moz-background-size:14px 13px;
		     -o-background-size:14px 13px;
		        background-size:14px 13px;
}

.slideshare a{background-image:url(http://www.opiaterehabtreatment.com/v2/wp-content/uploads/slideshare.png) !important;
		padding:10px 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 7px;
		background-color:$PrimaryBG;
		background-position:center;
		background-repeat:no-repeat;
	-webkit-background-size:21px 18px;
		   -moz-background-size:21px 18px;
		     -o-background-size:21px 18px;
		        background-size:21px 18px;
}


.RobotoFont {
    font-family: 'Roboto' !important;
    color: #444444 !important;
    font-weight: normal !important;
}

input.field.s:focus {
    opacity: 1.0; 
}

input.field.s {
    box-shadow: none;
    font-size: 1.2em;
    background: $OpiateDarkGreen;
    opacity: 0.7;
}

.home h2.title.entry-title {
    display: none;
}

.home #content{
    padding: 0 0 0 35px;
}


/*landscape smartphone and smaller*/
@media (max-width: 767px) { 
	.home #content {
		padding: 0 !important;
	}
}



body.home #content {
    max-width: 100% !important;
    padding: 0 !important;
}

aside#sidebar {
	padding-left: 35px;
}

#logo .site-title {
  display: inline-block !important;
  vertical-align: middle;
  margin: 0;
}

.two-col-left #main-sidebar-container #main, .two-col-right #main-sidebar-container #main {
    width: 100%;
}

.frn-cta { 
  color: #F39C12;
}
.textwidget{
  text-align: center;
}

.frn_footer {
    background-color: $PrimaryBG;
    padding-top: 2em;
    padding-bottom: 5em;
}

.searchform input.s, #searchform input#s {
  color: #fff;
}
.nav-toggle {
  background-color: $PrimaryBG;
  background-image: none ; 
}

a.woo-sc-button span {
    line-height: 2.2em !important;
}

a.woo-sc-button.custom{
    margin-top: 1em;
}

ul.nav ul li a {
  font-size: 1.0em !important;
}

.box {
    border: 1px solid #F39C12;
    padding: 20px;
    padding-top: 18px;
    margin: 40px 0px;
    clear: both;
    overflow: auto;
}

.box.green {
    border: 1px solid #3A606E;
    font-size: 1.2em;
    background: #67AE73;
    margin-top: 0px;
    line-height: 1.3em;
    color: #fff;
}

.box.blue {
    border: 1px solid #607B7D;
    font-size: 1.2em;
    background: #3A606E;
    margin-top: 0px;
    line-height: 1.3em;
    color: #fff;
}

.box.grey {
    border: 1px solid #3A606E;
    font-size: 1.2em;
    background: #607B7D;
    margin-top: 0px;
    line-height: 1.3em;
    color: #fff;
}

.callout {
    font-size:5em;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
    color: #fff;
}

.calloutbox {
    padding-top: 40px !important;
    text-align: center;
}


#content {
    background-color: white;
    border-radius: 15px;
    padding: 2vw 2vw !important;
    clear: both;
}

#nav-container {
    margin: 0;
    padding: 0;
}

#nav-container #navigation {
  max-width: 1200px !important;
  margin: 0 auto 1px auto;
  float: none;
  padding-left: 20px
}

#navigation {
    clear: none;
    margin: 0;
    float: left;
}

.frnphonenumber {
    float: right;
    text-align: right;
}

ul#main-nav {
	float: right;
}

.frnphonenumber h3 {
   color: $SecondaryCTA;
   font-size: .8em;
}

.frnphonenumber h2 {
   color: $SecondaryCTA;
}

.frnphonenumber h2 a {
   color: $SecondaryCTA;
}

h1 a:link {
	color: #F39C17;
}

.naked-social-share ul{
    padding: 0;
}

#logo a{
    display: inline-block;
}

#logo .site-title a:hover {
    text-decoration: none;
}

#logo img {
    height:40px;
    vertical-align: middle;
}

#frnnumber {
    font-size: 1.5em;
    font-weight: bold;
    color: #F39C17;
    padding-top: inherit;
}

#header {
   padding: 10px 30px 0px 30px !important;
}

section.menus.nav-icons.nav-icons-1 {
    float: left;
}

#frnnumber a {
    color: #f39c12;
}

.side-nav {
    margin-right: -1em;
}

#lhnEmailButton, #lhnchatimg {
    border:none;
}

.post {
    margin-bottom: 10px;
}

.nav-prev.fl a, .nav-next.fr a {
    color: white;
    font-weight: bolder;
    background-color: #3A606E;
    border-radius: 5px;
    padding: .4em 0.7em;
    width: 100%;
}

.archive-description p {
    font-style: italic;
}

.post-entries { display: none; }




/* Related Posts Begins */

#frn_related_posts {
	margin-top: 80px;
    margin-bottom: 50px;
}
	#frn_related_posts li {
		float: left;
		color: #fff;
		display: inline-block;
		width: 143px;
		margin: 5px;
		border: 1px solid white;
		padding: 10px;
		-webkit-border-radius: 10px;
		 -moz-border-radius: 10px;
			border-radius: 10px;
		line-height: 1.8em;
		list-style: none;
		font-size: .9em;
	}
	#frn_related_posts h3{
		text-align:center;
	}
	#frn_related_posts li div {
		font-size: 1em;
	}
	#frn_related_posts ul {	  
		margin: 0 auto;
	}
	@media (min-width: 768px) and (max-width: 900px) {
		#frn_related_posts .rp_list {
		  text-align: center; /*Used mostly for smaller window sizes*/
		}
		#frn_related_posts li {
		  width: 23%;
		  font-size: 1.1em;
		}
	}
	#frn_related_posts li:hover {
		color:#fff;
		/*background-color:#efefef !important;
		border:1px solid #ccc;*/
	}
	#frn_related_posts li div.positioning {
	  height: 110px;
	  display: table-cell;
	  vertical-align: middle;
	  font-weight: bold;
	  text-align: center;
	}
	#frn_related_posts .overflow_limit {
	  overflow: hidden;
	  max-height: 100px;
	  max-width: 100%;
	}
	#frn_related_posts div.frn_rp_more {
	  /* float: right; */
	  width: 100%;
	  text-align: right;
	}
	#frn_related_posts li.color_hvr_grn:hover {
		background-color:$OpiateBlue !important;
		border:1px solid #a8d379;
	}
	#frn_related_posts li.color_hvr_bl:hover {
		background-color:$PrimaryBG !important;
		border:1px solid #6699cc;
	}
	#frn_related_posts li.color_hvr_rd:hover {
		background-color: $PrimaryLink !important;
		border:1px solid #cc6666;
	}
	#frn_related_posts li.color_hvr_org:hover {
		background-color:$OpiateLightGreen !important;
		border:1px solid #ff9966;
	}
	#frn_related_posts li.color_hvr_ppl:hover {
		background-color: $SecondaryCTA !important;
		border:1px solid #9999cc;
	}

	/* Smartphone RP Styles */
	@media (max-width: 767px) { 
		#frn_related_posts h3 {
		  border-top: 3px solid #ccc;
		  padding-top: 7px;
		  margin-bottom: 15px;
		  font-weight: bold;
		}
	}
	@media (max-width: 767px) AND (orientation: portrait) { 
		#frn_related_posts li {
			width: 46%;
			float:left;
		}
	}	
	@media (max-width: 767px) AND (orientation: landscape) { 
		#frn_related_posts li {
			width: 30%;
		}
	}
		
/* Related Posts Ends */



.post-more{
    border-bottom: 1px solid rgba(0,0,0,0.1) !important;
    padding-bottom: 20px;
}



/* Custom Foundations Homepage Style Begin */

.VCenter {
position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.button-group li {
    padding-top: 3%;
}
.button-group a {
    color: rgba(0, 0, 0, 1);
    background-color: transparent;
}
.button-group a:hover {
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
}
.button-group {
    float: none;
}
@media only screen and (min-width: 40.063em) {
    .button-group {
        float: right;
    }
}
.namelogo {
    padding: 20px 10px 0px 10px;
}
@media only screen and (min-width: 40.063em) {
    .namelogo {
        padding-bottom: 20px;
    }
}
.namelogo h1 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}
@media only screen and (min-width: 40.063em) {
    .namelogo h1 {
        font-size: 16px;
        text-align: left;
    }
}
@media only screen and (min-width: 64.063em) {
    .namelogo h1 {
        font-size: 24px;
        text-align: left;
    }
}
.hero {
    background: url($HPHeroImage);
    background-size: cover;
    box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.15);
    height: 35rem;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.HPTexture {
    background: url($HPTexture);
    background-size: cover;
    box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.15);
    height: 25rem;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.HPTexture2 {
    background: url($HPTexture2);
    background-size: cover;
    box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.15);
    height: 30rem;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.intro-text {
    padding-top: 40%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
@media only screen and (min-width: 40.063em) {
    .intro-text {
        padding-top: 21vh;
    }
}
@media only screen and (min-width: 64.063em) {
    .intro-text {
        padding-top: 21vh;
    }
    .secondary-text {
        padding-top: 5vh;
    }
}
.intro-text p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 44px;
}
.about,
.work,
.contact {
    padding: 50px 0 50px 0;
}
.about img {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
.work img:hover {
    opacity: 0.5;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.work li {
    height: 140px;
    overflow: hidden;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    opacity: 0.8;
}
footer {
    padding: 80px 0 10px 0;
}
footer a:hover {
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
}

img {
    background: none !important;
    border: none !important;
}

.icon-preview.fa.fa-check {
    font-size: 10em;
}

.icon-preview.fa.fa-home {
    font-size: 10em;
}

.icon-preview.fa.fa-calendar {
    font-size: 10em;
}

.icon-preview.fa.fa-star-o {
    font-size: 10em;
    color: $SecondaryCTA;
}

.icon-preview.fa.fa-user-md {
    font-size: 10em;
    color: $SecondaryCTA;
}

.icon-preview.fa.fa-building-o {
    font-size: 10em;
    color: $SecondaryCTA;
}

.widget_woothemes_features .feature .feature-title {
    font-size: 2.0em;
    color: $SecondaryCTA;
    margin-top: 0.5em;
}

.feature-content {
    font-size: 1.4em;
    color: $SecondaryCTA;
}

#FirstFeature .features.columns-3 {
    color: $SecondaryCTA;
}

#FirstFeature h3.feature-title {
    color: $SecondaryCTA;
}

#costsoftreatment {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

#costsoftreatment p {
    color: #fff;
}

h2#HowWeCanHelp {
    font-size: 3em;
    color: $PrimaryBG;
}

.about h2 {
    font-size: 3.5em;
}

.goldstandard{
    padding: 50px 0;
    background-color: rgb(38, 38, 38);
    max-width: 100% !important;
}

.goldstandard p.p1, .goldstandard h2 {
    color: white;
}

.goldstandard p.p1, {
    text-align: justify;
}

.goldstandard h2 {
    color: white;
}

.ourlocations{
    padding: 50px 0;
    max-width: 100% !important;
    background-color: $PrimaryLink;
}

.ourSuccess{
    padding: 5vw;
    max-width: 100% !important;
    background: $SecondaryCTA;
}

.BetterSuccess{
    padding: 5vw;
    max-width: 100% !important;
    background: $PrimaryLink;
}


.HowCanIPay{
    padding: 5vw;
    max-width: 100% !important;
}

.TrustIcons{
    padding-bottom: 5vw;
    max-width: 100% !important;
}

.oursuccess{
    padding: 5vh 0;
    max-width: 100% !important;
    background-color: $OpiateGray;
}

.AboutOpiates{
    padding: 5.5vh 0;
    max-width: 100% !important;
    background-color: $OpiateGray   ;
}

.FeaturedArticles{
    padding: 5.5vh 0;
    max-width: 100% !important;
    background-color: #FFF;
}

.about {
    background-color: #3A606E;
    max-width: 100%;
}

/* Custom Foundations Homepage Style Ends */


@media (max-width: 1024px) {
	.HPTexture2 {
  		height: 50rem;
		background-attachment: scroll;
	}
	.hero {
		background-attachment: scroll;	
	}
	.HPTexture {
		background-attachment: scroll;
	}
    .CenterImage {
    width: 100%;
    display: inline;
  }

 }


/* Tablet ONLY */
@media (min-width: 768px) and (max-width: 900px) {
    .frn_footer {
        padding-bottom: 80px;
        margin-top: 15px;
    }
    ul {
        font-size: 0.8rem !important;
    }
    img.thumbnail, #portfolio .group.portfolio-img img {
      width: 35%;
    }
}


/* Tablet and Desktop */
@media only screen and (min-width: 768px) {
    #navigation .menus.nav-icons-1 #main-nav {
        margin-right: 2.8em !important;
    }
    #navigation .nav li.parent > a {
        padding: 0 0.8em;
    }
    
    #navigation ul.nav-search a.search-contents + ul {
        width: 18em;
        padding: 1em 1.5em 1.5em 1.5em;
        -webkit-border-top-left-radius: 10px;
          -moz-border-radius-topleft: 10px;
            border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
          -moz-border-radius-bottomleft: 10px;
            border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
          -moz-border-radius-bottomright: 10px;
            border-bottom-right-radius: 10px;
    }
    #navigation ul.nav-search a.search-contents {
        padding: 1em 1.8em 2.3em 1em;
        top: 5px;
    }
    #navigation ul.nav-search .searchform input.s {
        border: 1px $OpiateGray;
    }
    #navigation ul.nav-search .searchform .submit {
        top: 20px;
    }
    .frn_footer p {
        color: #fff;
        margin-bottom: 0;
    }
    .frn_footer p a {
        color: #fff;
    }
    .frn_footer p a:hover {
        color: $OpiateLightGreen;
    }
    aside#sidebar {
        float: right;
        width: 31.91%;
        margin-top: 3em;
        clear: both;
        padding-left: 35px;
    }
}



/* SMARTPHONE STYLE +10px (landscape and smaller) */
@media (max-width: 785px) { 
    .callout {
        font-size: 4em !important;
    }
}


/* SMARTPHONE STYLE BEGIN (landscape and smaller) */
@media (max-width: 767px) { 

	.hero {
	    	height: 35rem;
		background-attachment: scroll;	
	}

	.HPTexture2 {
  		//height: 150vh;
		background-attachment: scroll;
	}

	.HPTexture {
  		//height: 65vh;
		background-attachment: scroll;
	}

	nav#navigation {
		margin-top: -15px;
	}

	.shortcode-tabs.vertical .tab_header {
		width: 31% !important;
	}

	.shortcode-tabs.vertical .tab {
		text-align: right !important;
		position: inherit !important;
	}

	aside#sidebar {
	   display:none;
	}

	.post-more {
		padding-bottom: 25px !important;
	}

	article.post {
		margin-bottom: 30px;
	}

	#content {
		padding: 15px !important;

	}
	body {
		background-color: #fff !important;
	}
	.textwidget {
		left: 0 !important;
		margin: 0 auto !important;
		right: 0 !important;
		bottom: 0 !important;
		text-align: center !important;
		float: none !important;
	}
	#logo {
		left: inherit;
		margin: 0 auto !important;
		right: inherit;
		bottom: inherit;
		text-align: center !important;
		float: left;
		width: 100%;
	}

	header {
		display: none;
	}

	.frnphonenumber{
		display:none;
	}

	h1 {
	  font-size: 1.5em !important; }

	h2 {
	  font-size: 1.4em !important; }

	h3 {
	  font-size: 1.2em !important; }

	h4 {
	  font-size: 1.1em !important; }

	h5 {
	  font-size: 1.07em !important; }

	h6 {
	  font-size: 1.05em !important; }

	.entry .wp-caption-text {
		font-size: 0.9em;
	}

	.nav-toggle {
	  float: left;
	  width: 100%;  /* We need to find a way for 100% to work since due to screen sizes this may not look good on all devices */
	  margin-bottom: 15px;
	}
	 
	.nav-toggle a {
	  border: none;
	  padding: 0;
	}
	 
	div#nav_logo {
	  display: inline-block;
	  padding-left: 10px;
	}
	 
	#nav_logo a {
	  display: inline-block;
	}

	#nav_logo img {
		height: 45px;
		vertical-align: middle;
	}
	 
	div.site-title, span.site-title {
	  font-size: 16px !important;
	  display: inline;
	  text-align: left;
	}

	#logo {
	  display: none;
	}
	 
	.post-meta {
	  margin: 0;
	}

	#inner-wrapper {
	  float: left;
	  padding: 0 5px;
	}
	 
	header {
	  display: block;
	}
	 
	 .nav-toggle:before {
	  padding: 0.8em 0.7em 0.8em 0.9em;
	  margin-left: 0;
	  margin-bottom: 5px;
	} 
	 
	.breadcrumbs {
	  margin-bottom: 0;
	  font-size: 12px;
	  position: absolute;
	  color: #999;
	  top: -35px;
	  left: 0;
	  display: none;
	}

	header#header {
		padding: 0px !important;
	}

	.naked-social-share {
		text-align: center;
	}

	.naked-social-share li {
		margin-bottom: 10px;
	}

	.frn_footer {
		padding-bottom: 145px;
	}

	.frn_footer p {
		color: white;
	}

	.nav-prev.fl, .nav-next.fr {
		text-align: center;
		margin-bottom: 20px;
	}

	.archive_header {
	   margin-bottom: 15px;
	}

	.archive-description{
	   margin-bottom: 20px;
	}

	i.fa.fa-phone-square.fa-5x a {
		font-size: 0.4em;
	}

	a.search-contents {
    		display: none !important;
	}

	#navigation .nav-close, #navigation .nav-home {
   		 height: 2em;
   		 width: 2em;
	}

	.woo-pagination a:link {
		font-size: 0.55em;
	}
	.post_thumbnail {
	  width: 100%;
	  height: 150px;
	  overflow: hidden;
	  margin-bottom: 20px;
	}
	img.thumbnail {
	  width: 100%;
	  margin-top: -25%;
	}

    .ContactInline a:link {
    color: #cff09e; }

    .CenterImage {
    width: 100%;
    display: inline;
  }

  .entry .wp-caption {
    width: 100% !important;
  }

  .frn_cta_title {
    margin-bottom: 10px;
    padding: 1vw;
}
}
/* SMARTPHONE ENDS */
